<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<title>VueTHREE</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
		<script src="https://cdn.rawgit.com/mrdoob/three.js/dev/examples/js/controls/OrbitControls.js"></script>
		<script src="VueTHREE.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.0-alpha.3/theme-chalk/index.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.0-alpha.3/index.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.0-alpha.3/locale/en.min.js"></script>
		<script>ELEMENT.locale(ELEMENT.lang.en)</script>
	</head>
	<body style="height: 100%;">
		<el-container style="height: 100%;"id="demo">
			<el-aside width="400px">
				<div @click="test">TEST</div>
				<div class="block">
					<span class="demonstration">With default value</span>
					<el-color-picker v-model="backgroundColor"></el-color-picker>
				</div>
			</el-aside>
			<el-container>
				<el-main>
					<div style="position: relative; width: 100%; height: 100%;">
						<vue-three-renderer :clear-color="backgroundColor" id="demo">
							<vue-three-scene>
								<vue-three-fog
									:color="backgroundColor"
									:near="1/24"
									:far="4"
								></vue-three-fog>
								<vue-three-perspective-camera
									:near="1/64"
									:far="4"
									:position="cameraPosition"
									:quaternion="cameraQuaternion"
								></vue-three-perspective-camera>
								<component
									v-for="({component, props}, key) in threeObjects"
									:key="key"
									:is="component"
									v-bind="props"
								></component>
								<vue-three-point-light
									:distance="4"
									:decay="2"
									:position="lightPosition"
								></vue-three-point-light>
								<vue-three-point-light
									:distance="4"
									:decay="2"
									:position="[-1, -1, -1]"
								></vue-three-point-light>
							</vue-three-scene>
							<vue-three-orbit-controls
								:max-distance="4"
								:enable-damping="true"
								:damping-factor="1/12"
								:rotate-speed="1/6"
								:zoom-speed="1"
								:key-pan-speed="1/2"
								:enable-keys="false"
								:position.sync="cameraPosition"
								:quaternion.sync="cameraQuaternion"
							></vue-three-orbit-controls>
						</vue-three-renderer>
					</div>
				</el-main>
			</el-container>
		</el-container>
		<script src="demo/demo.js"></script>
	</body>
</html>